<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: black;">
    <a class="navbar-brand" href="#">KUDOS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="link1">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item" id="link2">
                <a class="nav-link" href="/manager">Manager</a>
            </li>
            <li class="nav-item" id="link3">
                <a class="nav-link" href="/create">Create</a>
            </li>
            <li class="nav-item" id="link6">
                <a class="nav-link" href="/awards">Award</a>
            </li>
            <li class="nav-item" id="link4">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item" id="link5">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
