<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>NewAccount</title>
  <link rel="stylesheet" type="text/css" href="#" >
</head>

<body>
    <a href="/manager">Manager Account</a>
    <a href="/logout">Logout</a>
    <form action="#" method="POST">
    <h4>Create New User: </h4>
    <li>
        <label for="newName">Full Name: </label>
        <input type="text" id="newName" name="uName"  >
    </li>
    <li>
        <label for="newEmail">New User Email: </label>
        <input type="email" id="newEmail" name="uEmail"  >
    </li>
    <li>    
        <label for="pHash">Password: </label>
        <input type="password" id="pHash" name="pword"  >
    </li>
    <li>    
        <label for="pHash">Manager </label>
        <input type="radio" id="pHash" name="type" value="manager">  
        <label for="pHash">User </label>
        <input type="radio" id="pHash" name="type" value="user">
        </li>
    <input type="submit" value="Create User">
    </form>
 


</body>
