<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Requests</title>
  <link rel="stylesheet" type="text/css" href="#" >
</head>

<body>
    <a href="/user">User Account</a>
    <a href="/logout">Logout</a>
    <h4>Create a Time Off Request</h4>

    <p>If an employee needs a specific day off of work but doesn't want to change whole availabiliy, they can place a request for a single day off.
      The remove request column will be updated to a delete link once the table is built
    </p>
    <form action="#" method="POST">
        <input type="date">
        <input type="submit" value="Add Request">
    </form>

    <table>
        <tr>
            <th> Request Date </th>
            <th> Approval Status </th>
            <th> Remove Request  </th>
        </tr>
        <tbody>
            <%        Rdata.forEach(function(ele, i){     %>
                <tr>
                  <td> <%= Rdata[i].Date %> </td>
                  <td> <%= Rdata[i].Approve %> </td>
                  <td> <%= Rdata[i].id %> </td>
                </tr>  
              <%        });                                    %>
        </tbody>


    </table>